@import "variables";
@import "mixin";
@import "font";

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: $gray;
  margin: 0;
}

.menu {
  @extend .d-flex, .align-items-center;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 10px;
  box-shadow: 0 5px 10px #181717;
  span {
    font-size: 30px;
    margin-left: 10px;
  }
}
.this-week-list {
  h1 {
    border-bottom: 1px solid $lightGray;
    padding-bottom: 10px;
  }
  .list-box {
    @extend .d-flex;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px black;
    height: 150px;
    cursor: pointer;
    //   @include mediaQuery(L) {
    //     width: 100px;
    //   }

    .poster {
      width: 20%;
    }
    .info {
      padding-left: 20px;
      width: 80%;
      text-align: left;
    }
    &:hover {
      box-shadow: 0 2px 25px black;
      border-left: 2px solid $yellow;
    }
  }
}
